body{
  background-image:url(bgimg-2.jpg);
  background-size: auto;
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 10vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:8vw;
  background-color:rgba(18,18,18,0.75);
  color : #f1f1f1;
  font-family: Orbitron;
}

.flip-card {
  background-color: transparent;
  width: 19%;
  height: 200px;
  display: inline-block;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  font-family: Libre Baskerville;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  text-align: center;
  border: none;
  background-color: rgba(76,181,245);
  color:#f1f1f1;

}

/* Style the back side */
.flip-card-back {
  border: none;
  background-color: #bbb;
  color: rgb(18,18,18);
  transform: rotateY(180deg);
}

.row{
  width: 100%;
  text-align: center;
  border: none;
}

.butn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-size: 3vw;
  background-color:rgba(18,18,18,0.75);
  font-family: Orbitron;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#f1f1f1;
}
.butn:hover{
background-color: rgba(76,181,245,0.75);
}
