

.flip-card {
  margin:10px;
  background-color: transparent;
  width: 30%;
  height: 200px;
  display: inline-block;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  word-wrap: break-word;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  font-family: Libre Baskerville;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  text-align: center;
  border: none;
  background-color: rgb(42, 36, 36);
  color:white;
  font-size:1.2em;
  display: table;
}

.flip-card-front h3, .flip-card-back p{
  display: table-cell;
  vertical-align:middle;
  text-align: center;
}

/* Style the back side */
.flip-card-back {
  border: none;
  background-color: white;
  color: rgb(18,18,18);
  transform: rotateY(180deg);
  display: table;
}

.row{
  width: 100%;
  text-align: center;
  border: none;
}


