<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Generator</title>
    
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
</head>
<body background="{{url_for('static', filename='backimage.jpg')}}">
    <h1>Project Generator</h1>

    <form action="/" method="post">
    <div class="item">
    <h3>Level<br>
    <select name="level" id="level">
        <option selected>Choose...</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Adavanced">Adavanced</option>
      </select>
    </h3>
    </div>

    <div class="item">
    <h3>Stacks
        <p style="font-size:1.5vw;"><b> Enter stacks separated by space </b></p>
    <input name = "stacks" type="text" placeholder="Enter...">
  </h3>
</div>
<br><br>
<input type="submit" href="/result" value="Generate" class="butn" >
</form>
</body>
</html>
