<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Generator</title>
    
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/result.css') }}" />

</head>
<body >
  <br>
  <br>
  <br>
  <br>
    <h1>Project Generator</h1>
    <center>
    <h3>Get some project ideas!</h3><br>
    <form action="/" method="post">

      <div class="Card">
        <h3>    
    <select name="level"  class="custom-select">
        <option selected>Choose your level...</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select></h3>
      <br>
      <br>

    
   

  <div class="CardInner">
  
  
    <div class="InputContainer">
      <input class="stack_inp" name="stacks" placeholder="Add the stacks here..."/>
    </div>
  </div>
 </div>
</div>
<br>
<br>
<input type="submit" onClick="document.getElementById('middle').scrollIntoView();"  value="Generate" class="butn" >
<p class="footer">Background by <a href="https://www.freepik.com/free-vector/colorful-abstract-background_7088557.htm#page=8&query=abstract%20paper%20cut&position=16&from_view=search&track=ais">Freepik</a></p>
</center>
<br>
<br>


<br>
<br>

</form>


</body>


</html>
