<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Generator</title>
    
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
</head>
<body>
    <h1>Project Generator</h1>

    <form action="/" method="post">
    <h3>Level: &nbsp; &nbsp;
    <select name="level" id="level">
        <option selected>Choose...</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Adavanced">Adavanced</option>
      </select>
    </h3>

    <h3>Stacks: &nbsp; &nbsp; <br> <br>
        <h5> Enter the Stacks with space </h5>
        <br> <br>
    <input name = "stacks" type="text" placeholder="Enter...">
</h3>
<br><br>

<div class="butn">
    
<input  type="submit" value="Generate" >
</form>
<br>
<br> <br> <br>
<h3>The results</h3>

{% if result %}
<div class="result">{{ result }}</div>
{% endif %}


</div>

</body>
</html>